/* Container and Layout */
.code-interface-container {
  display: flex;
  flex-direction: column;
  color: #ffffff !important;
}

.code-interface-header {
  display: flex;
  flex-direction: row;
}

/* Section Split */
.question-editor-section {
  display: flex;
  flex-direction: row;
  background-color: #1A1A1B !important;
  color: #ffffff !important;
}

.question-section {
  flex: 1 !important;
  background-color: #1A1A1B !important;
  color: #ffffff !important;
  margin: 1rem;
  padding: 1rem;
}

.editor-section {
  flex: 1 !important;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

/* Question Part */
.question-header {
  margin: 2rem 0;
}

.question-desc {
  margin-bottom: 1rem;
}

.quetion-example-container {
  margin-bottom: 1rem;
}

.question-example {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.question-details{
  margin: 3rem;
}

.question-difficulty,
.question-topics {
  margin-top: 1rem;
}

/* Toggle Button */
.code-interface-toggle-button {
  color: #94f3e4 !important;
}

/* Editor Part */
.code-interface-editor-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.code-editor-text-field-paper {
  margin-bottom: 1rem;
}

.code-editor-text-field {
  width: 100%;
}

.code-editor-lang-select {
  color: #ffffff !important;
}

/* Actions */
.editor-actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1rem;
}

/* Output/Error Handling */
.testcase-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.success-text {
  color: #4caf50;
}

.error-text {
  color: #f44336;
}

.success-bg {
  background-color: #263238;
}

.error-bg {
  background-color: #3c2f2f;
}

.error-title {
  color: #f44336;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.error-textfield {
  background-color: #fff;
  color: #f44336 !important;
}
